export CE="..."
export IP4="..."
export PSID="..."
export BR="..."


export LAN_IFACE="..."
export WAN_IFACE="..."

# give your tunnel a name;
export TUNNEL_NAME=mapetun1

# IPv4 address for your lan interface (your pick)
export LAN_ADDRESS="..."
